whitenoise==4.1
text-unidecode==1.2
static3==0.7.0
six==1.11.0
pytz==2018.5
python-dateutil==2.7.5
psycopg2==2.7.5
Pillow==5.2.0
pilkit==2.0
gunicorn==19.9.0
Faker==0.9.2
Django==2.1.1
django-imagekit-cropper==1.16
django-heroku==0.3.1
django-appconf==1.0.2
dj-static==0.0.6
dj-database-url==0.5.0
setuptools==39.1.0
pip==10.0.1
