<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <mata name="viewpoint" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./eventboard.css">
    <title>Event Board</title>
</head>
<body id="event">
<div id="wrap" class="cleafix">
    <div class="content">
        <div class="main">
            <h1>Hangouts</h1>
                <ul class="clearfix event-list">
                    <!-- picture = 220px-->
                    <li><img src="event_pictures/pic1.png" alt="pic1"></li>
                    <li><img src="event_pictures/pic1.png" alt="pic2"></li>
                    <li><img src="event_pictures/pic1.png" alt="pic3"></li>
                    <li><img src="event_pictures/pic1.png" alt="pic4"></li>
                    <li><img src="event_pictures/pic1.png" alt="pic5"></li>
                    <li><img src="event_pictures/pic1.png" alt="pic6"></li>
                </ul>
        </div>
    </div>
    
</div>
</body>
</html>