html{
  height: 100%;
}

body {
  padding-top: 54px;
  height: 100%;
  position: relative;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    border-bottom: 1px solid #d9d9d9;
}

.navbar-brand{
    color: #ff6600;
}

.nav-link{
    color: #595959;
}

.py-5{
    background-color: #ff6600;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    background: #fff;
    border: 1px solid #d9d9d9;
}

.collapse navbar-collapse{
    color: black;
}

.content-section{
    min-height: 100%;
}

.nav-container{
  width: 100%;
}

.warning-text{
  color:red;
}

.inline-center-align{
  text-align: center;
}

.custom-long-button{
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  font-size: 1.5em;
}

.add-margin-top{
  margin-top: 50px;
}

#pagination{
  margin-left: auto;
  margin-right: auto;
}

#search_form{
  float: left;
  width: 70%;
  margin: 0;
}

#responsive-search-button{
  float: right;
  margin-right: 0.5em;
  height: 2em;
  width: 2.7em;
}

#responsive-menu-button{
  float: right;
  margin-right: 0;
  height: 2em;
  width: 2.7em;
}
