body {
  padding-top: 54px;
}

#sidebar{
    margin-bottom: 30px;
    padding: 30px;
}

#sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: #818100;
  display: block;
}

.board-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-section{
    height: 100%
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}


.row-option{
  position: relative;
  height: 100%;
}

.dashboard{
    /* border-style: solid;
    border-width: 2px;
    border-radius: 6px; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    bottom: 0;
}

.profile-img{
  border-radius: 50%;
  width: 100%;
  height:100%;
}

.row.image-section{
  margin-bottom: 20px;
}
