<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="list-group">
  {% for event in events %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">{{event.name}}</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;When:&nbsp;{{event.date}}&nbsp;&nbsp;&nbsp;{{event.start_time}}-{{event.end_time}} </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Hosted by: {{event.host_name}}</p>

    <p class="mb-1">&nbsp;&nbsp;&nbsp;&nbsp;{{event.description}}</small>
    </div>
    <p> </p>
  </a>
  {% endfor %}
</div>
</body>
</html>