{% extends "users/mypage.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block additional_head_2 %}
    <script src="{% static 'js/jquery.ymdpulldown.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block dashboard %}
<p>Edit your profile</p>
<form method="POST" id="user-profile-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{profile_form.first_name.label}}:
        {% render_field profile_form.first_name class+="form-control"%}
    </div>
    <div class="form-group">
        {{profile_form.last_name.label}}:
        {% render_field profile_form.last_name class+="form-control" %}
    </div>
    <div class="form-group">
        {{profile_form.middle_name.label}}:
        {% render_field profile_form.middle_name class+="form-control"%}
    </div>

    <div class="form-group">
        <label for="birthday-year birthday-month birthday-day">Birthday:</label>
        <div class="input-group">
            <select id="birthday-year" class="form-control" data-choice="year" data-select="{{birthday_year}}"></select>
            <select id="birthday-month" class="form-control" data-choice="month" data-select="{{birthday_month}}"></select>
            <select id="birthday-day" class="form-control" data-choice="day" data-select="{{birthday_day}}"></select>
            {% render_field profile_form.birthday class+="form-control"%}
        </div>
    </div>

    <div class="form-group">
        <label for="id_where_you_live">Area you live in:</label>
        {% render_field profile_form.where_you_live class+="form-control" %}
        *This information will be public.
    </div>
    <label for="id_introduction">Introduce yourself:</label>
    <div class="form-group">
        {% render_field profile_form.introduction class+="form-control" %}
    </div>
    <div class="form-group">
      {% render_field profile_image_form.image class+="form-control"%}
      {% render_field profile_image_form.x class+="form-control"%}
      {% render_field profile_image_form.y class+="form-control"%}
      {% render_field profile_image_form.width class+="form-control"%}
      {% render_field profile_image_form.height class+="form-control"%}
    </div>
    <br>
    <button type="submit" class="btn btn-warning custom-long-button">Save</button>

    <div class="modal fade" id="modalCrop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crop the image for your profile</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="far fa-window-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <img src="" id="image" style="max-width: 100%;">
          </div>
          <div class="modal-footer">
            <div class="btn-group pull-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <i class="fas fa-search-plus"></i>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <i class="fas fa-search-minus"></i>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
            <button type="button" class="btn btn-primary js-crop-and-upload" id="crop_button">Crop image</button>
          </div>
        </div>
      </div>
    </div>
</form>

<script>
$(function() {
  $("#birthday-year").ymdpulldown({
                startyear:1920,
              });
  $("#birthday-month").ymdpulldown();
  $("#birthday-day").ymdpulldown();
});

$('#user-profile-form').submit(function() {
    var year = document.getElementById('birthday-year').value;
    var month = document.getElementById('birthday-month').value;
    var day = document.getElementById('birthday-day').value;
    var $birthdayForm = document.getElementById('id_birthday');
    $birthdayForm.value = year + "-" + month + "-" + day;
    return true;
});

/* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
$("#id_image").change(function () {
  if (this.files && this.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#image").attr("src", e.target.result);
      $("#modalCrop").modal("show");

    }
    reader.readAsDataURL(this.files[0]);
  }
});

/* SCRIPTS TO HANDLE THE CROPPER BOX */
var $image = $("#image");
var cropBoxData;
var canvasData;
$("#modalCrop").on("shown.bs.modal", function () {
  $image.cropper({
    viewMode: 1,
    aspectRatio: 1/1,
    minCropBoxWidth: 70,
    minCropBoxHeight: 43,
    ready: function () {
      $image.cropper("setCanvasData", canvasData);
      $image.cropper("setCropBoxData", cropBoxData);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData = $image.cropper("getCropBoxData");
  canvasData = $image.cropper("getCanvasData");
  $image.cropper("destroy");
});

$(".js-zoom-in").click(function () {
  $image.cropper("zoom", 0.1);
});

$(".js-zoom-out").click(function () {
  $image.cropper("zoom", -0.1);
});

/* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
$("#crop_button").click(function () {
  var cropData = $image.cropper("getData");
  $("#id_x").val(cropData["x"]);
  $("#id_y").val(cropData["y"]);
  $("#id_height").val(cropData["height"]);
  $("#id_width").val(cropData["width"]);
  console.log($("#id_x").val(), $("#id_y").val(), $("#id_height").val(), $("#id_width").val());
  $("#modalCrop").modal("hide");
  console.log(cropData["x"], cropData["y"], cropData["height"], cropData["width"])
});
</script>
{% endblock %}
