{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_head %}
    <link href="{% static 'css/my_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-2" >
      <div id="sidebar">
        <p>My page</p>
        <a href="{% url 'users:retrieve_my_hangouts'%}">Hangouts</a>
        <a href="{% url 'users:retrieve_my_watchlist'%}">Watch List</a>
        <a href="{% url 'users:edit_profile'%}">Profile</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-10">
      <div class="dashboard">
          {% block dashboard %}
          {% endblock %}
      </div>
    </div>
</div>

{% endblock %}