{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_head %}
    <link href="{% static 'css/my_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row row-option">
    <div class="col-xs-12 col-md-2" >
      <div id="sidebar">
        <p>My page</p><hr>
        <a href="{% url 'users:retrieve_my_hostinglist'%}">Hosted by me</a><hr>
        <a href="{% url 'users:retrieve_my_joinlist'%}">Hangouts</a><hr>
        <a href="{% url 'users:retrieve_my_watchlist'%}">Watch List</a><hr>
        <a href="{% url 'users:retrieve_profile'%}">Profile</a><hr>
        <a href="{% url 'users:edit_my_images'%}">Photos</a><hr>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 dashboard">
          {% block dashboard %}
          {% endblock %}
    </div>
</div>

{% endblock %}
