{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_head %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron add-margin-top">
      <h1>Login</h1>
        <form method="post" action="{% url 'users:login' %}">
          {% csrf_token %}
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="Username"><br>
          <label for="password">Password:</label>
          <input type="password" name="password">
          <input type="submit" name="" value="Login">

        </form>
      <a href="{% url 'users:signup'%}"><p>Don't have an account? Sign up here.</p></a>
    </div>
  </div>
{% endblock %}
