{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_head %}
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        {% if account_form.errors %}
          {% for field in account_form %}
              {% for error in field.errors %}
                  <p class=>Error: {{ error }} </p>
              {% endfor %}
          {% endfor %}
        {% endif %}
          {% for error in form.non_field_errors %}
            <p> {{ error }} </p>
          {% endfor %}

      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Create a new account</h1>
        <h3>Please fill out the form</h3>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ account_form.as_p }}
          <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
        </form>

      {% endif %}

    </div>

  </div>
{% endblock%}
