{% extends 'base.html' %}
{% load staticfiles %}
{% block additional_head %}
    <link href="{% static 'css/event_info.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-9" >
          <div class="box" >
            <center><h1>{{event.name}}</h1></center>
            <center><img alt="Hangout Image" src={{event.image_storage_url}}/></center>
            <div class="event_info"><br>
              <span>Date:&nbsp&nbsp&nbsp{{event.start_date}}&nbsp;-&nbsp;{{event.end_date}}&nbsp;&nbsp;</span><br>
              <span>Time:&nbsp&nbsp&nbsp{{event.start_time}} ~ {{event.end_time}}</span><br>
              <span>Language:&nbsp;{{event.language}}</span><br>
              <span>Tags: {{event.tags.all|join:", "}}</span><br>
              <hr>
              <br>
            </div>
            <center><font size="5">About this hangout</font></center>
            <br>
            <p>{{event.description}}</p>
            <br>
              <center>
                {% if added_to_watch_list %}
                  <button type="button" class="btn btn-warning btn-lg" id="watch-button">Remove from watch list</button>
                {% else %}
                  <button type="button" class="btn btn-warning btn-lg" id="watch-button">Add to watch list</button>
                {% endif %}
                {% if added_to_join_list %}
                  <button type="button" class="btn btn-warning btn-lg" id="join-button">&nbsp;Cancel this event&nbsp;</button>
                {% else %}
                   <button type="button" class="btn btn-warning btn-lg" id="join-button">&nbsp;Join this event!&nbsp;</button>
                {% endif %}
                <form id="bookmark-request-form" method="POST">
                  {% csrf_token %}
                  {{bookmark_request_form}}
                </form>
              </center>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="box">
            <center><p>Host<br>{{host_name}}</p></center>
            <img src="{{host_img_url}}" alt="{{no_photo_icon_url}}" class="host_img"/>
          </div>
        </div>
      </div>
    </div>
<script>
$(document).ready
(function($)
  {
      var $watchButton = $('#watch-button');
      var $joinButton = $('#join-button');
      var $bookmarkForm = $('#bookmark-request-form');
      var $bookmarkRequest = $("#id_bookmark_request")
      $watchButton.click
      (function()
          {
            $bookmarkRequest.val("add-to-watch");
            console.log("WatchButton");
            $bookmarkForm.submit();
          }
      );

      $joinButton.click
      (function()
          {
            $bookmarkRequest.val("join-event");
            $bookmarkForm.submit();
            console.log("JoinButton");
          }
      );
  }
);
</script>
{% endblock %}
