{% extends 'base.html' %}
{% load staticfiles %}

 {% block additional_head %}
    <link href="{% static 'css/eventboard.css' %}" rel="stylesheet">
  {% endblock %}

  {% block content%}
    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading -->
      <center>
      </center>
      <center>

        <h1 class="my-4">
          {% if is_searching %}
            {% if has_no_result %}
              <span>Sorry, "{{search_string}}" did not match any results.</span>
            {% else %}
              <span>Search result of "{{search_string}}"</span>
            {% endif %}
          {% else %}
            <span>Upcoming Hangouts</span>
          {% endif %}
          </h1></center>
      <!-- event info -->
      <div class="row">
        {% for event in events %}
        <div class="col-lg-3 col-md-4 col-sm-6 board-item">
          <div class="card h-100">
            <a href="{% url 'events:retrieve_event_info' event_id=event.event_id%}"><img class="card-img-top" src="{{event.image_storage_url}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <p class="card-title"><a href="{% url 'events:retrieve_event_info' event_id=event.event_id%}">{{event.name}}</a></p>
              </h4>
              <p>{{event.start_date}}<br>{{event.start_time}} - {{event.end_time}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Pagination -->
        <div class="text-xs-center" id="pagination">
          <ul class="pagination justify-content-center">
            {% if page_has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ current_page_num|add:-1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}
            {% for page_num in page_range %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{page_num}}</a>
              </li>
            {% endfor %}
            {% if page_has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ current_page_num|add:1 }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            {% endif %}
          </ul>
         </div>
    </div>
  {% endblock %}
