{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/new_event_form.css' %}">
    <link href="{% static 'vendor/bootstrap/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if event_form.errors %}
        {% for field in event_form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in event_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if event_form.errors %}
    {% for field in event_form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
    <p><b>Please enter the information to host a hangout.</b></p>
    <form method="POST" enctype="multipart/form-data" id="formUpload" autocomplete="off">
        {% csrf_token %}



        <label for="id_name">Hangout name</label>
        <div class="form-group">
            {% render_field event_form.name class+="form-control" placeholder="Name of the event"%}
        </div>
        {{location_form.location_name.label}}
        <div class="form-group">
            {% render_field location_form.location_name class+="form-control" placeholder="Area or name of a place" %}
        </div>
        {{location_form.address.label}}
        <div class="form-group">
            {% render_field location_form.address class+="form-control" placeholder="Exact address of the location"%}
        </div>
        <label for="id_start_date id_start_time">Start at</label>
        <div class="form-group">
            <div class="input-group-mb3 input-group-append" id="start-datetimepicker" data-target-input="nearest">
            {% render_field event_form.start_date class+="form-control datetimepicker-input" id="start-date" placeholder="Click the calendar"%}
                <div class="input-group-append" id="start-datepicker" data-target="#start-date" data-toggle="datetimepicker">
                    <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
            {% render_field event_form.start_time class+="form-control" id="start-time" placeholder="Click the clock"%}
                <div class="input-group-append" id="start-timepicker" data-target="#start-time" data-toggle="datetimepicker">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                </div>
            </div>
        </div>
        <label for="id_end_date id_end_time">End at</label>
        <div class="form-group">
            <div class="input-group-mb3 input-group-append" id="end-datetimepicker">
            {% render_field event_form.end_date class+="form-control" id="end-date" placeholder="Click the calendar" %}
                <div class="input-group-append" id="end-datepicker" data-target="#end-date" data-toggle="datetimepicker">
                    <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
            {% render_field event_form.end_time class+="form-control" id="end-time" placeholder="Click the clock"%}
                <div class="input-group-append" id="end-timepicker" data-target="#end-time" data-toggle="datetimepicker">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                </div>
            </div>

        </div>
            {{event_form.language.label}}
        <div class="form-group">
            {% render_field event_form.language class+="form-control" placeholder="Languages used for the hangout."%}
        </div>
        {{event_form.description.label}}
        <div class="form-group">
            {% render_field event_form.description class+="form-control" placeholder="What is this hangout about?"%}
        </div>

        {{event_form.tags.label}}
        <div class="form-group">
            {% render_field event_form.tags class+="form-control" placeholder="Separate with commas. e.g) BBQ, outdoor"%}
        </div>
        <div class="form-group">
            <div class="custom-file">
            {% render_field event_image_form.image class="custom-file-input"%}
            {% render_field event_image_form.x %}
            {% render_field event_image_form.y %}
            {% render_field event_image_form.width %}
            {% render_field event_image_form.height %}
            <label for="id_image" class="custom-file-label">Image</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning btn-lg btn-block">Create a hangout!</button>
        </div>

<script>
/* SCRIPT FOR DATEPICKER */

/*Initialize timepickers*/
var timeChoices = ['12:00 AM', '12:30 AM', '01:00 AM', '01:30 AM', '02:00 AM', '02:30 AM', '03:00 AM', '03:30 AM',
                  '04:00 AM', '04:30 AM', '05:00 AM', '05:30 AM', '06:00 AM', '06:30 AM', '07:00 AM', '07:30 AM',
                  '08:00 AM', '08:30 AM', '09:00 AM', '09:30 AM', '10:00 AM', '10:30 AM', '11:00 AM', '11:30 AM',
                  '12:00 PM', '12:30 PM', '01:00 PM', '01:30 PM', '02:00 PM', '02:30 PM', '03:00 PM', '03:30 PM',
                 '04:00 PM', '04:30 PM', '05:00 PM', '05:30 PM', '06:00 PM', '06:30 PM', '07:00 PM', '07:30 PM',
                 '08:00 PM', '08:30 PM', '09:00 PM', '09:30 PM', '10:00 PM', '10:30 PM', '11:00 PM', '11:30 PM']

var startTimePicker = $('#start-time');
var endTimePicker = $('#end-time');

var initStartTimePicker = function(){
  startTimePicker.empty();
  timeChoices.forEach(function(d){
    choiceNode = document.createElement("option");
    textNode = document.createTextNode(d);
    choiceNode.appendChild(textNode);
    startTimePicker.append(choiceNode);
  });
};

var initEndTimePicker = function(){
  endTimePicker.empty();
  timeChoices.forEach(function(d){
    choiceNode = document.createElement("option");
    textNode = document.createTextNode(d);
    choiceNode.appendChild(textNode);
    endTimePicker.append(choiceNode);
  });
};

//Adjust endTimePicker so its value does not go before the starting time.
var adjustEndTimerPicker = function(){
  endTimePicker.empty();
  startTimeIndex = timeChoices.indexOf(startTimePicker.val());
  timeChoices.slice(startTimeIndex + 1, timeChoices.length).forEach(function(d){
    choiceNode = document.createElement("option");
    textNode = document.createTextNode(d);
    choiceNode.appendChild(textNode);
    endTimePicker.append(choiceNode);
    console.log("Looping");
  })
};

initStartTimePicker();
initEndTimePicker();

var today = new Date();
//console.log("Now:", today)
var sameDay = true;/* Specify if the startDay and endDay are the same */
var isSameDay = function() {
    startDayStr = document.getElementById('start-date').value;
    endDayStr = document.getElementById('end-date').value;
    /*console.log(startDayStr, "==", endDayStr)*/
    if (startDayStr == endDayStr){ console.log("SameDay=True"); return true;} else {console.log("SameDay=True");return false;}
};

$('#start-date').datetimepicker({
                            format: "MM-DD-YYYY",
                            minDate: today,
                            });

$('#end-date').datetimepicker({
                                format: "MM-DD-YYYY",
                                minDate: today,
                                });

/* CHANGE THE minDate FOR END DATE PICKER */
$('#start-date').on("change.datetimepicker", function(){
    startDayStr = document.getElementById('start-date').value;
    console.log("startDay", startDayStr)
    var endDayInput = document.getElementById('end-date')
    $("#end-date").datetimepicker("minDate", startDayStr);
    if (endDayInput.value == "")
    {
        endDayInput.value = startDayStr;
    }
    if (!isSameDay())
    {
        $('#end-time').datetimepicker("minDate", false);
        initEndTimePicker();
    }
    else{//isSameDay
      adjustEndTimerPicker();
    };
    //console.log("RE-Initialized datepicker");
});

$('#end-date').on("change.datetimepicker", function(){
    startDayStr = document.getElementById('start-date').value;
    if (startDayStr == "")
    {
        document.getElementById('start-date').value = document.getElementById('end-date').value;
    }
    if (!isSameDay())
    {
        $('#end-time').datetimepicker("minDate", false);
        initEndTimePicker();
    }
    else {//isSameDay
      adjustEndTimerPicker();
    };
});

//Update endTimePicker according to startTimePicker
startTimePicker.on("change", function(){
    if (isSameDay()){
        adjustEndTimerPicker();
      }
    else{
      initEndTimePicker();
    };
});

</script>


<script>
$(function () {
  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_image").change(function () {
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#image").attr("src", e.target.result);
        $("#modalCrop").modal("show");
      }
      reader.readAsDataURL(this.files[0]);
    }
  });

  /* SCRIPTS TO HANDLE THE CROPPER BOX */
  var $image = $("#image");
  var cropBoxData;
  var canvasData;
  $("#modalCrop").on("shown.bs.modal", function () {
    $image.cropper({
      viewMode: 1,
      aspectRatio: 7/4.3,
      minCropBoxWidth: 70,
      minCropBoxHeight: 43,
      ready: function () {
        $image.cropper("setCanvasData", canvasData);
        $image.cropper("setCropBoxData", cropBoxData);
      }
    });
  }).on("hidden.bs.modal", function () {
    cropBoxData = $image.cropper("getCropBoxData");
    canvasData = $image.cropper("getCanvasData");
    $image.cropper("destroy");
  });

  $(".js-zoom-in").click(function () {
    $image.cropper("zoom", 0.1);
  });

  $(".js-zoom-out").click(function () {
    $image.cropper("zoom", -0.1);
  });

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $("#crop_button").click(function () {
    var cropData = $image.cropper("getData");
    $("#id_x").val(cropData["x"]);
    $("#id_y").val(cropData["y"]);
    $("#id_height").val(cropData["height"]);
    $("#id_width").val(cropData["width"]);
    console.log($("#id_x").val(), $("#id_y").val(), $("#id_height").val(), $("#id_width").val());
    $("#modalCrop").modal("hide");
    console.log(cropData["x"], cropData["y"], cropData["height"], cropData["width"])
  });

});


  </script>

<div class="modal fade" id="modalCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crop the photo for the hangout image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-window-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <i class="fas fa-search-plus"></i>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <i class="fas fa-search-minus"></i>
          </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-primary js-crop-and-upload" id="crop_button">Crop image</button>
      </div>
    </div>
  </div>
</div>

        <div id="cropped_image"></div>
    </form>
</div>

{% endblock %}
